<section class="intro-graphic">
      <%= image_tag 'co-lab.png', class:"intro-graphic-logo" %>
</section>
<section class="text intro-search">
<!--    <h1>Innovation Co-Lab</h1> -->
<!--	<h2>a <strong>crowd-sourced</strong> hub for <strong>scientific research</strong></h2> -->
	<p><%= link_to 'Search for... observations, questions, hypothesis', 'labs', class:"intro-searchbar" %></p>

<h2>The <strong>crowd-sourced</strong> hub for <strong>scientific research</strong></h2> 
	<div>	
	</div>
</section>
<%= javascript_include_tag "science-map" %>
