<main>	
	<section class="general-info">
	    <div class="general-overview">
	      <h1 class="general-info-title"><%= link_to 'Hypotheses Home', new_lab_path %></h1>
	      <h2 class="general-info-more"><%= link_to 'Hypothesis Title', new_lab_path %></h2>
	      <h2 class="general-info-search"><%= link_to 'Search', new_lab_path %></h2>
	      
	    </div>
	    <div class="general-comments">
	          <div class="observation-tags">
	            <h2>Comments</h2>
	          </div>
	    </div>
	  </section>
		<section id="hypothesis-editor" class="listings">
			<div class='editable'>
				<h1>Hypothesis Title</h1>
				<p>
					Author : <a href="user co-lab profile">Name</a> <br>
					Date Created : ##/##/####<br>
					Contributors : <a href="user co-lab profile">Name</a>, <a href="user co-lab profile">Name</a>, <a href="user co-lab profile">Name</a>, <a href="user co-lab profile">Name</a>, <a href="user co-lab profile">Name</a>, <a href="user co-lab profile">Name</a>, <a href="user co-lab profile">Name</a>
				</p>
				<h2>Hypothesis Abstract</h2>
				<p>
				This is the abstract of the hypothesis. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu pariatur.
				</p>
				<h2>Hypothesis Introduction</h2>
				<p>
				This is the introduction of the hypothesis. Lorem ipsum dolor sit <a href="sample reference website 1">amet</a>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim <a href="sample reference website 2">veniam</a>, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <a href="sample reference website 3">consequat</a>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in <a href="sample reference website 4">culpa</a> qui officia deserunt mollit anim id est laborum.
				</p>
				<div class="experiment">
					<a href="">+ experiment</a>
				</div>
				<h2>Hypothesis Discussion</h2>
				<p>
				This the Discussion of the hypothesis. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
				</p>
				<img src="./assets/usa.png" style="height: 150px;">
				<img src="./assets/SpotMatrix.gif" style="height: 150px;">
				<img src="./assets/circle-heat.jpg" style="height: 150px;">
				<img src="./assets/bundle.png" style="height: 150px;">
				<img src="./assets/bargraph.png" style="height: 150px;">
				<blockquote>
					<p>
					This a quote of the hypothesis. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
					</p>
				</blockquote>
				<p>
				This the the Discussion of the hypothesis. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
				<div class="references">
					<h2>Hypothesis References</h2>
					<p>
					This is the references section of the hypothesis
					</p>
					<a href="sample reference website 1">sample reference 1</a>
					<a href="sample reference website 2">sample reference 2</a>
					<a href="sample reference website 3">sample reference 3</a>
					<a href="sample reference website 4">sample reference 4</a>
					<a href="sample reference website 5">sample reference 5</a>
					<a href="sample reference website 6">sample reference 6</a>
					<a href="sample reference website 7">sample reference 7</a>
					<a href="sample reference website 8">sample reference 8</a>
					<a href="sample reference website 9">sample reference 9</a>
					<a href="sample reference website 10">sample reference 10</a>
					<a href="sample reference website 11">sample reference 11</a>
					<a href="sample reference website 12">sample reference 12</a>
					<a href="sample reference website 13">sample reference 13</a>
					<a href="https://www.scientificamerican.com/">sample reference 14</a>
				</div>
			</div>
		</section>
	</main>
	<%= javascript_include_tag "medium-editor" %>
	<script>
    	var editor = new MediumEditor('.editable', {buttonLabels: 'fontawesome'})
	</script>
</main>
