<main>	
	<section class="general-info">
	    <div class="general-overview">
	      <h1 class="general-info-title"><%= link_to 'Hypotheses Home', new_lab_path %></h1>
	      <h2 class="general-info-more"><%= link_to 'Hypothesis Title', new_lab_path %></h2>
	      <h2 class="general-info-search"><%= link_to 'Search', new_lab_path %></h2>
	      
	    </div>
	    <div class="general-comments">
	          <div class="observation-tags">
	            <h2>Comments</h2>
	          </div>
	    </div>
	  </section>
		<section id="hypothesis-editor" class="listings">
		</section>
	</main>
</main>
