<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
  <strong>Admin:</strong>
  <%= @group.admin.name %>
</p>

<% if @group.members.include?(current_user) %>
<p>You are a member of this group</p>
<% else %>
  <p>
  <%= link_to "Request Access", "#" %>
  </p>
<% end %>
