<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8"  style="padding-bottom: 15px;">
      <h1>Welcome to the Crowd-Sourced Scientific Method.</h1>

      <p>At Co-Lab, we believe that the scientific community should strive to be open, accessible, transparent, and conflict-of-interest free.</p>

      <p>We recognize the current state of infrastructure supporting the global scientific research economy is outdated and fails to give researchers the tools to maximize the impact of their work.</p>

      <p>As researchers, we understand that any scientific endeavor at it’s core is an application of the scientific method - Observe. Question. Hypothesize. Experiment. Conclude.</p>

      <p>Co-Lab crowd-sources the scientific method. It is designed to allow anyone and everyone to participate in the research science community by contributing their observations, questions, hypotheses, experiments, and conclusions.</p>

      <p>This results in an online hub for scientific research that is completely open and accessible.</p>

      <p><strong>Open - </strong>anyone, anywhere in the world can contribute to the assimilation of knowledge.</p>

      <p><strong>Accessible - </strong>anyone, anywhere in the world can access this knowledge for free.</p>

      <p>Most importantly, we understand the responsibilities that are inherent to administering research science. The validity of the knowledge we produce is dependent on Co-Lab remaining transparent and conflict-of-interest free.</p>

      <p><strong>Transparent - </strong>All of Co-Lab’s proprietary data will be made available for the community to observe and question.</p>

      <p><strong>Conflict-of-interest free - </strong>Co-Lab will only seek financial support from sources that maintain our ability to operate in a completely transparent and conflict-of-interest free fashion.</p>

      <p>We believe in a future where researchers are judged solely on the impact of their contributions to the scientific community. Together, we will create a community where anyone, anywhere can contribute to the unfettered pursuit of scientific discovery.</p>

      <p>For science!</p>

    </p>PJ and the Co-Lab team</p>
    </div>
  </div>
</div>
