.downvote-count {
  margin-right: .5em;
}

.comments-container-jq {
  display: none;
}

.fa-check-square {
  color: green;
}

.fa-minus-square {
  color: red;
}

.fa-thumbs-up {
  &:before {
   content: "\f062" !important;
  }
}

.profile-picture {
  display: none !important;
}

.reply-to {
  display: none !important;
}
