<main>
  <section class="general-info">
      <div class="general-overview">
          <h2 class="general-info-title"><%= link_to 'Try a new search', '/search?utf8=✓&search_term=&commit=Search' %></h2>
      </div>
      <div class="general-comments">
          <div class="observation-tags">
                <div class="comment">
          <p><strong>Tagging your lab with appropriate categories?</strong> <span class="js-tips comments">Tips</span></p>
          <div class="tips comments show">
            Clear labs, clear community.<br>
            Select <strong>tags</strong> below that relate to the focal point for your lab.<br>
            Write your succint lab by <strong>using the editor on the right.</strong>
          </div>
                <div class="comments">
                  <h2>Trending Tags Reference</h2>
                        <% @tags.first(10).each do |tag| %>
                            <div class="comment-type trending static"><%= tag.name %></div>
                        <% end %>
                </div>
            </div>
      </div>
  </section>
  <section id="hypothesis-editor" class="listings">
        <%= render 'form', lab: @lab %>
  </section>
</main>
</script>
